// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#brand {
	font-family: 'Alex Brush', cursive;
	font-size: 24px;
}

.site-image {
	background-image: image-url("sitebackgroundimage.jpg");
	background-size: auto;
	opacity: 0.9;
}

.about-content {
    font-family: 'Great Vibes', cursive;
    font-size: 32px;
    text-align: center;
    position: center;
    padding: 50px 20px 0px 20px;
    border-radius: 6px;
}

.contact-content {
    font-family: 'Great Vibes', cursive;
    font-size: 32px;
    text-align: center;
    position: center;
    padding: 50px 20px 0px 20px;
    border-radius: 6px;
}